*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(187, 187, 137);
}

.header{
    background-color: rgb(65, 48, 15);
    background-size:auto;
    opacity: 0.75;
    color: white;
    padding: 1%;
    display: flex;
    justify-content: center;
}

.choice{
    height: 25vmin;
    width: 25vmin;
}
img{
    height: 24vmin;
    width: 24vmin;
    border-radius: 8rem;
    object-fit: cover;
    border: 5px solid black;
}
img:hover{
    opacity: 0.75;
    border: 5px solid whitesmoke;
    cursor: pointer;
}
.gameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    margin-top: 10vh;
    margin-bottom: 7vh;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-weight: 550;
    font-size: x-large;
}
#userScore{
    font-size: xx-large;
    color: green;
}
#compScore{
    font-size: xx-large;
    color: rgb(151, 94, 45);
}
.msg-container{
    text-align: center;
    font-weight: 550;
    margin-top: 5rem;
}
#msg{
    background-color: rgb(0, 128, 107);
    font-size: 4vmin;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    color : wheat;
}
